<div class="hero-unit">
  <h2>Sign in as Returning User</h2>
  <hr />
    <%= form_tag "/sessions" do %>
    <p>
      <div class="well form-search">
        <%= label_tag :user_name %>: <%= text_field_tag :user_name %>
      </div>
      <div class="well form-search">
        <%= label_tag :password %>: <%= password_field_tag :password %>
      </div>
      <hr />
        <%= submit_tag "Log in", :class => "btn btn-primary" %> 
    </p>
        <% end %>
    <div class="btn-group">
      <a class="btn btn-primary" href="/users/new">Back to New User</a>
    </div>
  </div>
</div>
      

