<div class="bar">
	<p>Read it Later User Since: <%= @user.user_since.strftime("%B %d, %Y") %> <br/> Articles Saved: <%= @user.count_list %>
	<br/> Articles Read: <%= @user.count_read %> <br/> Articles Unread: <%= @user.count_unread %></p>
  <h1>Welcome, <em><%= @user.user_name %></em></h1>
  <h2>Here's Your Reading List</h2>
</div>
<br>

<div class="search">
	<%= form_tag "/articles/index", :method => 'get', :class => "form-search" do %>
	    <%= text_field_tag :search, params[:search], :placeholder => "Search by title", :class => "input-long search-query" %>
	    <%= submit_tag "Search", :class => "btn" %>
	<% end %>
	<% if @search.present? %>
		<a href="/articles/index"><i class="icon-remove-circle"> </i>Clear search</a>
	<% end %>
</div>

<section>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title: </th>
      <th>URL: </th>
      <th>Status: </th>
      <th>Time_added: </th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td>
        <%= article.title %>
      </td>
      <td>
        <%= link_to article.shortlink, article.url, :target => '_blank' %>
      </td>
      <td>
        <%= status(article.state) %>
      </td>
      <td>
        <%= article.time_added %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

 <%= paginate @articles %>

</section>