<div class="hero-unit">
  <h2><%= @article.title %></h2>
  <hr/>
  <%= form_tag("/articles/#{@article.id}/tags") do %>
    <%= text_field_tag :tags %>
    <%= submit_tag("Add Tags") %>
  <% end %>

  <% if @article.categories_from(current_user).present? %>
    <p>
		<strong>MY TAGS:</strong> 
			<% 0.upto(@article.owner_tags_on(current_user, :categories).count) do |x| %>
				<%= @article.owner_tags_on(current_user, :categories)[x] %>
				<%= "," if  x < @article.owner_tags_on(current_user, :categories).count - 1 %>
			<% end %>
	</p>
  <% end %>
</div>