<div class="hero-unit">
  <h2><%= @article.title %></h2>
  <hr/>
  <%= form_tag("/articles/#{@article.id}/tags") do %>
    <%= text_field_tag :tags %>
    <%= submit_tag("Add Tags") %>
  <% end %>

<%#= @article.owner_tags_on(nil, :categories) %>

  <% if @article.categories_from(current_user).present? %>
    <p><strong>MY TAGS:</strong> <% @article.categories_from(current_user).each do |tag| %>
      <%= tag %>,
    <% end %></p>
  <% end %>
</div>