<div class="hero-unit">
  <h2><%= @article.title %></h2>
  <hr/>
  <%= form_tag("/tags/#{@article.id}") do %>
    <%= text_field_tag :tags %>
    <%= submit_tag "Add Tags", :class => "btn btn-primary" %>
  <% end %>

  <% if @article.categories_from(current_user) %>
	  <p>
	    <strong>My Tags:</strong>
	    <% 0.upto(@article.owner_tags_on(current_user, :categories).count) do |x| %>
	      <%= @article.owner_tags_on(current_user, :categories)[x] %><a href="/tags/<%= @article.id %>/<%= @article.owner_tags_on(current_user, :categories)[x] %>"><i class="icon-remove-circle"></i></a>
	      <%= "," if x < @article.owner_tags_on(current_user, :categories).count - 1 %>
	    <% end %>
	  </p>
  <% end %>
</div>
    
    
    
    
