<h1>YOU SHOULDN'T BE HERE:::Editing user</h1>

<div class="span9 hero-body">
  <div class="hero-unit">
    <h1>InfoGraphic.ly</h1>
    <br>
    <p>A beautifully simple content aggregator that uses data visualization to help you make sense of the information you consume.</p>
    <br>
    <div class="well form-search">
          <%= form_for(@user) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

          <p>
            <%= f.label :user_name %><br />
            <%= f.text_field :user_name %>
          </p>
          <p>
            <%= f.label :password %><br />
            <%= f.password_field :password %>
          </p>
          <p>
            <%= f.label :email %><br />
            <%= f.text_field :email %>
          </p>
          <div class="btn-group">
            <%= f.submit "Finished with your changes?" %>
          </div>
        <% end %>
    </div>
  </div>
</div>



<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
