
<div class="alert alert-info">
  <%= notice %>
</div>
<!-- <h4 style="color:blue;"><%= notice %></h4> -->

<div class="span8 hero-unit">
  <h2>Sign Up With Your Read It Later User Name</h2>
  <br>
  <div class="well form-inline">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <p>
      <%= f.label :user_name %><br />
      <%= f.text_field :user_name %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
      <%= f.submit "Sign up", :class => "btn btn-primary" %>

  <% end %>
  
    <div class="btn btn-primary"
      <%= link_to 'Returning User', user_url(:returning) %>
    </div>
    </div>
  </div>
</div>


    
