<div class="hero-unit">
  <h2>Welcome to InfoGraphic.ly, <em><%= @user.user_name %></em>!</h2>
  <hr />
  <div class="search">
  	<%= form_tag "/articles/index", :method => 'get', :class => "form-search" do %>
  	    <%= text_field_tag :search, params[:search], :placeholder => "Search for Article", :class => "input-long search-query" %>
  	    <%= submit_tag "Search", :class => "btn btn-primary" %>
  	<% end %>
  	<% if @search.present? %>
  		<a href="/articles/index"><i class="icon-remove-circle"> </i>Clear search</a>
  	<% end %>
  </div>
  <hr />
  <h2>User Reading Stats</h2>
  <hr />
  <p>Read it Later User Since: <%= @user.user_since.strftime("%B %d, %Y") %> <br/> Articles Saved: <%= @user.count_list %>
  <br/> Articles Read: <%= @user.count_read %> <br/> Articles Unread: <%= @user.count_unread %></p>
  <hr />
  <h2>Reading Categories</h2>
  <hr />
    <ul>
      <% my_sources = [] %>
      <% @user.articles.each do |article| %>
        <% if !my_sources.include?(article.source) %>
          <li><%= link_to article.source, "/sources/#{article.source}" %></li>
          <% my_sources << article.source %>
        <% end %>
      <% end %>
    </ul>
  <div id="chart_div"></div>
</div>


    
