<div class="dashboard">
  <div class="hero-unit">
    <h2>Welcome to InfoGraphic.ly, <em><%= @user.user_name %></em>!</h2>
    <br >
    <div class="search">
    	<%= form_tag "/articles/index", :method => 'get', :class => "form-search" do %>
    	    <%= text_field_tag :search, params[:search], :placeholder => "Search for Article", :class => "input-long search-query" %>
    	    <%= submit_tag "Search", :class => "btn btn-primary" %>
    	<% end %>
    	<% if @search.present? %>
    		<a href="/users/<%= @user.id %>"><i class="icon-remove-circle"> </i>Clear search</a>
    	<% end %>
    </div>
    <hr />
    <h2>User Reading Stats</h2>
    <div class="progress">
      <div class="bar"
           style="width: <%= number_to_percentage(@user.count_read.to_f * 100 / @user.count_list) %>;"></div>
    </div>
    <p><em>Read it Later User Since:</em> <%= @user.user_since.strftime("%B %d, %Y") %> <br/> </br> Articles Saved: <%= @user.count_list %>
    <br/> Articles Read: <%= @user.count_read %> <br/> Articles Unread: <%= @user.count_unread %></p>
    <hr />
    <h2>Tag Cloud</h2>
    <hr />
    <p>Reading Categories</p>
    <hr />
    <ul>
      <% my_sources = [] %>
      <% @user.articles.each do |article| %>
        <% if !my_sources.include?(article.source) %>
          <li><%= link_to article.source, "/sources/#{article.source}" %></li>
          <% my_sources << article.source %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


    
