<div class="dashboard">
  <div class="hero-unit">
    <h2>Welcome to InfoGraphic.ly, <em><%= current_user.user_name %></em>!</h2>
    <br >
    <div class="search">
    	<%= form_tag "/articles/index", :method => 'get', :class => "form-search" do %>
    	    <%= text_field_tag :search, params[:search], :placeholder => "Search for Article", :class => "input-long search-query" %>
    	    <%= submit_tag "Search", :class => "btn btn-primary" %>
    	<% end %>
    	<% if @search.present? %>
    		<a href="/users/<%= @user.id %>"><i class="icon-remove-circle"> </i>Clear search</a>
    	<% end %>
    </div>
    <hr />
    <h2>User Reading Stats</h2>
    <div class="progress">
      <div class="bar"
           style="width: <%= number_to_percentage(current_user.count_read.to_f * 100 / current_user.count_list) %>;"></div>
    </div>
    <p><em>Read it Later User Since:</em> <%= current_user.user_since.strftime("%B %d, %Y") %> <br/> </br> Articles Saved: <%= current_user.count_list %>
    <br/> Articles Read: <%= current_user.count_read %> <br/> Articles Unread: <%= current_user.count_unread %></p>
    <hr />
    <h2>Tag Cloud</h2>
	<% tag_cloud(@categories, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <%= link_to tag.name, articles_url(:categories => tag.name), :class => css_class %>
	<% end %>
    <hr />
    <h2>Reading Categories</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <% my_sources = [] %>
        <% current_user.articles.each do |article| %>
          <% if !my_sources.include?(article.source) %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to article.source, "/sources/#{article.source}" %></td>
            <% my_sources << article.source %>
          <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>


    
