<div class="span3 hero-unit">
  <h2>Dan Lavin</h1>
  <hr />
  <p>Creative and passionate entrepreneur with professional experience in e-Commerce, Customer Loyalty, Product/Program Management, Marketing, Business Development, Client Services, and Commercial Real Estate.
  </p>
  <p>
    <a href="mailto:daniel.e.lavin@gmail.com" target="_blank"><%= image_tag("email_32.png", :alt  => "email") %></a> 
    <a href="http://www.twitter.com/danlavin" target="_blank"> <%= image_tag("twitter_32.png", :alt  => "twitter") %></a>
    <a href="http://www.linkedin.com/pub/daniel-lavin/9/604/198" target="_blank"> <%= image_tag("linkedin_32.png", :alt  => "linkedin") %></a> 
    <a href="http://dan-lavin.tumblr.com/" target="_blank"> <%= image_tag("tumblr_32.png", :alt  => "tumblr") %></a>
  </p>
</div>
<div class="span3 hero-unit">
  <h2>Abhi Pillai</h1>
  <hr/ >
  <p>Learned Ruby, web development using the Ruby on Rails Framework, Javascript, JQuery, AJAX, foundational Agile practices, pair programming, and how to approach any learning hurdles faced in future CS projects.
  </p>
    <a href="mailto:abhishek.ap3@gmail.com" target="_blank"><%= image_tag("email_32.png", :alt  => "email") %></a> 
    <a href="http://www.twitter.com/abhishekap3" target="_blank"> <%= image_tag("twitter_32.png", :alt  => "twitter") %></a>
    <a href="http://www.linkedin.com/pub/abhishek-pillai/8/8ab/a9a" target="_blank"> <%= image_tag("linkedin_32.png", :alt  => "linkedin") %></a> 
    <a href="abhiondemand.tumblr.com" target="_blank"> <%= image_tag("tumblr_32.png", :alt  => "tumblr") %></a>
  <p>
  </p>
</div>

