<div class="span3 hero-unit">
  <h2>Dan Lavin</h1>
  <hr />
  <p><%= image_tag("email_32.png", :alt  => "email") %> <%= image_tag("twitter_32.png", :alt  => "twitter") %> <%= image_tag("linkedin_32.png", :alt  => "linkedin") %> <%= image_tag("tumblr_32.png", :alt  => "tumblr") %>
  </p>
</div>
<div class="span3 hero-unit">
  <h2>Abhi Pillai</h1>
  <hr/ >
  <p><%= image_tag("email_32.png", :alt  => "email") %> <%= image_tag("twitter_32.png", :alt  => "twitter") %> <%= image_tag("linkedin_32.png", :alt  => "linkedin") %> <%= image_tag("tumblr_32.png", :alt  => "tumblr") %>
  </p>
</div>